<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>backbone</title>
    <link rel="stylesheet" href="css/style.css">


</head>
<body>


<h1>Booklist</h1>


<!--<form action="" id="addTask">-->
    <!--<input type="text" placeholder="Nor Arajadrank">-->
    <!--<input type="submit" value="Avelacnel">-->
<!--</form>-->
<!--<div class="tasks">-->
    <!--<script type="text/template" id="taskTemplate">-->
        <!--<span><%= title %></span> <button class="edit">edit</button> <button class="delete">delete</button>-->
    <!--</script>-->
<!--</div>-->



<!--<script type="text/template" id="tweetsTemplate">-->
<!--<% _.each(tweets, function (tweet) { %>-->
<!--<div class="tweet">-->
<!--<p>@<%= tweet.from_user %></p>-->
<!--<p class="text"><%= tweet.text %></p><p><%= tweet.location %></p>-->
<!--</div>-->
<!--<% }); %>-->
<!--</script>-->

<script src="js/jquery-3.1.1.js"></script>
<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>
<script src="js/app.js" ></script>
<!--<script src="js/drafts.js" ></script>-->

</body>
</html>